*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button{

    background-color: rgb(7, 197, 230);
    padding: 10px;
}
input {
    padding: .5%;
    align-self: flex-end;
    background: palegoldenrod;
    border-radius: 0;
    text-align: center;
    font-size: 16px;





}
